.container {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    border-radius: 6px;
    display: block;
    cursor:zoom-in;
    margin-bottom:8px;
    margin-top:8px;
    margin-left: 15px;
    padding:8px;
    position: relative;
    float: left;   
}

#img{
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    cursor:zoom-in;
}

#img:hover{
background-color: rgba(0, 0, 0, 0.158);
}

#user{
    color: rgba(0, 0, 0, 0.575);
    cursor:pointer;
    display:inline;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px;
    font-weight:700;
    height:auto;
    letter-spacing:-0.4px;
    overflow-wrap:break-word;
    text-align:left;
    text-decoration-line:none;
    text-decoration-style:solid;
    text-size-adjust:100%;
    padding-left: 5px;
    width:auto;
    -webkit-font-smoothing:antialiased;
}

.masonry { /* Masonry container */
    column-count: 5;
    column-gap: 1em;
}
  
.item { /* Masonry bricks or child elements */
    background-color: white;
    border-radius: 10%;
    display: inline-block;
    margin: 0em 0em 1em 1em;
    width: 100%;
    
}

.item:hover {
    box-shadow: 0 8px 16px 0 rgba(110, 101, 101, 0.781);

}

